In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib  inline

In [2]:
data_Pune={'Id':['p-12','p-15','p-13','p-14'],
            'Name':['Sushma','Seemarani','Divya','Amshu'],
            'Covid_testing_type':['Swab','Rpc','Rpc','Swab'],
            'District':['Pune','Pune','Pune','Pune'],
            'Aadharcard_no':[8948,9663,8657,7561,],
            'Vaccination':['covishield','covishield','sputnik','covaxin']
}

In [3]:
df=pd.DataFrame(data_Pune)
df

     Id       Name Covid_testing_type District  Aadharcard_no Vaccination
0  p-12     Sushma               Swab     Pune           8948  covishield
1  p-15  Seemarani                Rpc     Pune           9663  covishield
2  p-13      Divya                Rpc     Pune           8657     sputnik
3  p-14      Amshu               Swab     Pune           7561     covaxin

In [4]:
data_Hubli={'Id':['p-1','p-2','p-3','p-4'],
            'Name':['Shravan','Sai','Prajakta','Sachith'],
            'Covid_testing_type':['Swab','Rpc','Swab','Swab'],
            'District':['Hubli','Hubli','Hubli','Hubli'],
            'Aadharcard_no':[1234,5678,8756,7568,],
            'Vaccination':['covaxin','covishied','sputnik','covaxin']
}

In [5]:
df1=pd.DataFrame(data_Hubli)
df1

    Id      Name Covid_testing_type District  Aadharcard_no Vaccination
0  p-1   Shravan               Swab    Hubli           1234     covaxin
1  p-2       Sai                Rpc    Hubli           5678   covishied
2  p-3  Prajakta               Swab    Hubli           8756     sputnik
3  p-4   Sachith               Swab    Hubli           7568     covaxin

In [6]:
state=['Maharastra','Maharastra','Maharastra','Maharastra']
country=['India','India','India','India']

In [7]:
df['State']=state
df['Country']=country

In [8]:
df

,Id,Name,Covid_testing_type,District,Aadharcard_no,Vaccination,State,Country
0,p-12,Sushma,Swab,Pune,8948,covishield,Maharastra,India
1,p-15,Seemarani,Rpc,Pune,9663,covishield,Maharastra,India
2,p-13,Divya,Rpc,Pune,8657,sputnik,Maharastra,India
3,p-14,Amshu,Swab,Pune,7561,covaxin,Maharastra,India

In [9]:
pd.concat([df,df1],axis=0,ignore_index=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Aadharcard_no,Country,Covid_testing_type,District,Id,Name,State,Vaccination
0,8948,India,Swab,Pune,p-12,Sushma,Maharastra,covishield
1,9663,India,Rpc,Pune,p-15,Seemarani,Maharastra,covishield
2,8657,India,Rpc,Pune,p-13,Divya,Maharastra,sputnik
3,7561,India,Swab,Pune,p-14,Amshu,Maharastra,covaxin
4,1234,NaN,Swab,Hubli,p-1,Shravan,NaN,covaxin
5,5678,NaN,Rpc,Hubli,p-2,Sai,NaN,covishied
6,8756,NaN,Swab,Hubli,p-3,Prajakta,NaN,sputnik
7,7568,NaN,Swab,Hubli,p-4,Sachith,NaN,covaxin

In [10]:
pd.concat([df,df1],axis=0,ignore_index=False)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Aadharcard_no,Country,Covid_testing_type,District,Id,Name,State,Vaccination
0,8948,India,Swab,Pune,p-12,Sushma,Maharastra,covishield
1,9663,India,Rpc,Pune,p-15,Seemarani,Maharastra,covishield
2,8657,India,Rpc,Pune,p-13,Divya,Maharastra,sputnik
3,7561,India,Swab,Pune,p-14,Amshu,Maharastra,covaxin
0,1234,NaN,Swab,Hubli,p-1,Shravan,NaN,covaxin
1,5678,NaN,Rpc,Hubli,p-2,Sai,NaN,covishied
2,8756,NaN,Swab,Hubli,p-3,Prajakta,NaN,sputnik
3,7568,NaN,Swab,Hubli,p-4,Sachith,NaN,covaxin

In [11]:
pd.concat([df,df1],axis=1,ignore_index=True)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,p-12,Sushma,Swab,Pune,8948,covishield,Maharastra,India,p-1,Shravan,Swab,Hubli,1234,covaxin
1,p-15,Seemarani,Rpc,Pune,9663,covishield,Maharastra,India,p-2,Sai,Rpc,Hubli,5678,covishied
2,p-13,Divya,Rpc,Pune,8657,sputnik,Maharastra,India,p-3,Prajakta,Swab,Hubli,8756,sputnik
3,p-14,Amshu,Swab,Pune,7561,covaxin,Maharastra,India,p-4,Sachith,Swab,Hubli,7568,covaxin

In [29]:
pd.concat([df,df1],axis=0,ignore_index=True,sort=False)

,Id,Name,Covid_testing_type,District,Aadharcard_no,Vaccination,State,Country
0,p-12,Sushma,Swab,Pune,8948,covishield,Maharastra,India
1,p-15,Seemarani,Rpc,Pune,9663,covishield,Maharastra,India
2,p-13,Divya,Rpc,Pune,8657,sputnik,Maharastra,India
3,p-14,Amshu,Swab,Pune,7561,covaxin,Maharastra,India
4,p-1,Shravan,Swab,Hubli,1234,covaxin,NaN,NaN
5,p-2,Sai,Rpc,Hubli,5678,covishied,NaN,NaN
6,p-3,Prajakta,Swab,Hubli,8756,sputnik,NaN,NaN
7,p-4,Sachith,Swab,Hubli,7568,covaxin,NaN,NaN

In [31]:
pd.concat([df,df1],keys=["A","B"],sort=False)

       Id       Name Covid_testing_type District  Aadharcard_no Vaccination  \
A 0  p-12     Sushma               Swab     Pune           8948  covishield
  1  p-15  Seemarani                Rpc     Pune           9663  covishield
  2  p-13      Divya                Rpc     Pune           8657     sputnik
  3  p-14      Amshu               Swab     Pune           7561     covaxin
B 0   p-1    Shravan               Swab    Hubli           1234     covaxin
  1   p-2        Sai                Rpc    Hubli           5678   covishied
  2   p-3   Prajakta               Swab    Hubli           8756     sputnik
  3   p-4    Sachith               Swab    Hubli           7568     covaxin

          State Country
A 0  Maharastra   India
  1  Maharastra   India
  2  Maharastra   India
  3  Maharastra   India
B 0         NaN     NaN
  1         NaN     NaN
  2         NaN     NaN
  3         NaN     NaN

In [14]:
data=[ (df,df1)]

In [17]:
data=df.append(df1,sort=True)

In [18]:
data

,Aadharcard_no,Country,Covid_testing_type,District,Id,Name,State,Vaccination
0,8948,India,Swab,Pune,p-12,Sushma,Maharastra,covishield
1,9663,India,Rpc,Pune,p-15,Seemarani,Maharastra,covishield
2,8657,India,Rpc,Pune,p-13,Divya,Maharastra,sputnik
3,7561,India,Swab,Pune,p-14,Amshu,Maharastra,covaxin
0,1234,NaN,Swab,Hubli,p-1,Shravan,NaN,covaxin
1,5678,NaN,Rpc,Hubli,p-2,Sai,NaN,covishied
2,8756,NaN,Swab,Hubli,p-3,Prajakta,NaN,sputnik
3,7568,NaN,Swab,Hubli,p-4,Sachith,NaN,covaxin

In [19]:
data=df.append(df1,sort=False)

In [20]:
data

,Id,Name,Covid_testing_type,District,Aadharcard_no,Vaccination,State,Country
0,p-12,Sushma,Swab,Pune,8948,covishield,Maharastra,India
1,p-15,Seemarani,Rpc,Pune,9663,covishield,Maharastra,India
2,p-13,Divya,Rpc,Pune,8657,sputnik,Maharastra,India
3,p-14,Amshu,Swab,Pune,7561,covaxin,Maharastra,India
0,p-1,Shravan,Swab,Hubli,1234,covaxin,NaN,NaN
1,p-2,Sai,Rpc,Hubli,5678,covishied,NaN,NaN
2,p-3,Prajakta,Swab,Hubli,8756,sputnik,NaN,NaN
3,p-4,Sachith,Swab,Hubli,7568,covaxin,NaN,NaN

In [21]:
data.loc[0]

,Id,Name,Covid_testing_type,District,Aadharcard_no,Vaccination,State,Country
0,p-12,Sushma,Swab,Pune,8948,covishield,Maharastra,India
0,p-1,Shravan,Swab,Hubli,1234,covaxin,NaN,NaN

In [32]:
pd.concat([df,df1],axis=0,ignore_index=True,sort=False)

,Id,Name,Covid_testing_type,District,Aadharcard_no,Vaccination,State,Country
0,p-12,Sushma,Swab,Pune,8948,covishield,Maharastra,India
1,p-15,Seemarani,Rpc,Pune,9663,covishield,Maharastra,India
2,p-13,Divya,Rpc,Pune,8657,sputnik,Maharastra,India
3,p-14,Amshu,Swab,Pune,7561,covaxin,Maharastra,India
4,p-1,Shravan,Swab,Hubli,1234,covaxin,NaN,NaN
5,p-2,Sai,Rpc,Hubli,5678,covishied,NaN,NaN
6,p-3,Prajakta,Swab,Hubli,8756,sputnik,NaN,NaN
7,p-4,Sachith,Swab,Hubli,7568,covaxin,NaN,NaN

In [33]:
data.loc[[2,4]]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

,Id,Name,Covid_testing_type,District,Aadharcard_no,Vaccination,State,Country
2,p-13,Divya,Rpc,Pune,8657.0,sputnik,Maharastra,India
2,p-3,Prajakta,Swab,Hubli,8756.0,sputnik,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN